<!DOCTYPE html>
<html>
<head>
  <title>Find a Student</title>
</head>
<body>
  <form action="/students" method="GET">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Find</button>
  </form>
</body>
</html>