<!DOCTYPE html>
<html>
<head>
  <title>Update Student Campus</title>
</head>
<body>
  <form action="/newcampus" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Submit</button>
  </form>
</body>
</html>