

#octopus {
  position: fixed;
  top: 200px;
  left: 500px;
  z-index: -1;
}

#hat {
position: relative;
top: 150px;
left: 330px;
z-index: 2;
}

#glasses {
position: relative;
top: 180px;
left: 535px;
z-index: 1;
}

