


.dressing-room {
    margin: 0 auto;
    width: 210px;
    padding-top: 10%;
    position: relative;
}

#octopus {
  z-index: -1;
}

#hat {
  position: absolute;
  bottom: 185px;
  left: -18px;
  z-index: 2;
}

#glasses {
position: absolute;
bottom: 137px;
left: 41px;
z-index: 1;
}

